.modal-form {
  background-color: #ffffff;
  width: 528px;
  /* пока делаю метки */
  /* height: 581px; */
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 40px;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: blue;
}

.footer-form-field,
.form-input {
  display: block;
}
.form {
  background-color: brown;
  display: flex;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-tittle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

.form-lable {
}
.form-input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: #757575;
}
.input-comments {
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  resize: none;
}
.form-active:focus {
  outline: none;
  border-color: #2196f3;
}
